@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Cinzel:wght@400..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

#root {
  font-family: "Libre Baskerville", serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: #1c4444;
  .headerName{
    span{
      font-size: clamp(2.5vh, 2vw, 3vw);
    }
    div {
      font-size: clamp(2vh, 1.5vw, 2.5vw);
    }

  }
  .headerList:hover {
    opacity: 0.6;
   }
}

.image1{
  height: 80vh;
  object-fit:fill
}

.Carousal {
  display: flex;
  /* opacity:0.7; */
  flex-direction: column;
  font-size: clamp(3.5vh, 3vw, 3.5vw);
  font-weight: 900;
  color: #f5b404;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 80vh;
  .shadowEffect{
    background-color: rgba(28, 68, 68, 0.6);
    box-shadow: 0px 26px 350px 100px #1c4444;
  .react-slideshow-container{
    button {
      display: none !important;
    }
    svg{
      display: none !important;
    }

    }
  
  }
}

.each-slide-effect button {
  padding: 1vw;
  font-size: clamp(2.5vh, 2vw, 3vw);
  color: #1c4444;
  background: #f5b404;
  text-align: center;
}



/* Media Queries */

@media ( max-width:720px ) {
  header{
    nav{
      display: none;
    }
  }
  
}

/* 
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
