@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Cinzel:wght@400..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

#root {
  font-family: "Libre Baskerville", serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: #1c4444;
}

.image1{
  /* background-image: url(../src/assets/fseworks-technicians.jpg); */
  /* opacity: 0.5; */
  height: 80vh;
  object-fit:fill
}

.Carousal {
  display: flex;
  flex-direction: column;
  font-size: 4vw;
  color: black;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  box-shadow: 5px 10px 20px 5px #1c4444 inset;
  background-position: center center;
  background-size: cover;
  height: 80vh;
}

.each-slide-effect button {
  padding: 1vw;
  font-size: 2vw;
  color: #1c4444;
  background: #f5b404;
  text-align: center;
}


/* 
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
